# .gitignore

# Hidden Vagrant-directory
.vagrant

# Python development
.ropeproject

# Backup files (e.g. Vim, Gedit, etc.)
*~

# Compiled Python
*.pyc

# BATS installation
POC/test/bats/

# Vagrant base boxes (you never know when someone puts one in the repository)
*.box

# Directories containing roles imported from Ansible Galaxy
# (user.role notation)
POC/ansible/roles/*.*

# Ansible Retry-files
*.retry

# Ansible fact cache
.ansible_cache/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
POC/ansible/React/bp-site/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
